@using CMS_Project.Models
@using System.Xml;

@{
    ViewBag.Title = "ViewPerPage";

    Layout = "~/Views/Shared/_LayoutContent.cshtml";

    var db = new CMSDataContext();
    int langID = Convert.ToInt32(Session["LanguageId"]);
    Language language = db.Language.Find(langID);
    string lang_name = language.Name;
    XmlDocument doc = new XmlDocument();
    string path = "~/Content/XMLfile/" + lang_name + ".xml";
    doc.Load(Server.MapPath(path));
    XmlNodeList elemList = doc.GetElementsByTagName("Readmore");
    string Readmore = elemList[0].InnerXml;
}
<section class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
   
    <div class="main">
        <div class="container">
            @*<ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="javascript:;">Blog</a></li>
                <li class="active">Blog Page</li>
            </ul>*@
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div class="col-md-12 col-sm-12">
                    <!--start-->
                    <div class="content-page">
                        <div class="row">
                            <!-- BEGIN LEFT SIDEBAR -->
                            <div class="col-md-9 col-sm-9 blog-posts">
                                
@if (Model !=null)
{
    foreach (var item in Model)
    {

    <div class="row">
                                 
        <div class="col-md-4 col-sm-4">
            <img class="img-responsive" alt="Image" src="@Url.Content(item.Image)">
        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="blog-item.html">@item.Title</a></h2>
                                        
            <p>@item.Description</p>
            <a href=@("http://localhost:4743/Home/ItemPerPage/" + item.item_ID) class="more">@Readmore <i class="icon-angle-right"></i></a>
        </div>
                                        
                                          
                                      
    </div>
    <hr class="blog-post-sep">
    }
}
                                    


                               
                            </div>
                            <!-- END RIGHT SIDEBAR -->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>

    
    
</section>

