.carousel-slider .carousel-caption{right:auto;left:auto;}
.border-bottom-title:after{right:0;}
.carousel-slider .carousel-position-one{right:15%;}
.carousel-slider .carousel-position-two{right:15%;}
.carousel-slider .carousel-position-three{left:15%;}
.carousel-slider .carousel-position-four{right:auto;}
.carousel-slider .carousel-position-five{right:35%;}
.carousel-slider .carousel-position-six{right:auto;}
.carousel-slider .promo-like{margin-left:7px;}
.carousel-slider .promo-like-text{text-align:right;}
